@charset "UTF-8";

.tab{
    margin: 0px 50px;
}
.p1{
    color: aquamarine;
    background-image: url("01.gif");
}
h2{
	margin: 70px 0 0 40px;
	color: rgb(16, 0, 122);
	text-align: center;
}

.name1{
	text-align: center;
	font-weight: 800;
    color: rgb(0, 58, 184);
}
.name2{
	text-align: center;
	font-weight: 800;
    color: rgb(68, 218, 255);
}
.name3{
	text-align: center;
	font-weight: 800;
    color: rgb(1, 255, 200);
}
.name0{
	text-align: center;
	font-weight: 800;
    color: rgb(112, 79, 51);
}

.jpg{
    text-align: center;
}
.e{
    color: rgb(6, 190, 151);
}
.li{
	margin: 5px;
	text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    color: rgb(80, 200, 255);
    background-color: rgb(220, 203, 255);
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    border-color:  rgb(80, 200, 255);
    border-width: 2px;
	border-style: solid;
}
.li1{
	display: inline-block;
	margin: 0px;
	text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    color: rgb(80, 200, 255);
    background-color: rgb(220, 203, 255);
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
    border-color:  rgb(80, 200, 255);
    border-width: 2px;
	border-style: solid;
}
a{
	text-decoration: none;
}
option{
    font-weight: 500;
}
#wrapper{
	width: 1400px;
	margin:0;
	display: flex;
	flex-wrap: wrap;
}
.left-column{
	width: 17%;
	margin: 90px 0 0 0;
	background-color: rgb(210, 255, 240);
}
.right-column
{
	width: 83%;
}



select {
    width: 120%;
	padding-bottom: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-color: rgb(220, 203, 255);
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl05 {
	width: 85%;
	margin: 0 10px;
	position: relative;
	border-radius: 2px;
    border-radius: 50px;
	background: rgb(220, 203, 255);
}
.cp_ipselect.cp_sl05::before {
	position: absolute;
	top: 100em;
	bottom: 100em;
	width: 10;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 6px solid  rgb(80, 200, 255);
	pointer-events: none;
}
select {
	padding: 3px 3px 2px 3px;
	color:  rgb(80, 200, 255);
}
