@charset "UTF-8";

.tab{
    margin: 40px;
}
.p1{
    color: aquamarine;
    background-image: url("01.gif");
}

.name1{
	text-align: center;
	font-weight: 800;
    color: rgb(0, 58, 184);
}
.name2{
	text-align: center;
	font-weight: 800;
    color: rgb(68, 218, 255);
}
.name3{
	text-align: center;
	font-weight: 800;
    color: rgb(1, 255, 200);
}
.name0{
	text-align: center;
	font-weight: 800;
    color: rgb(112, 79, 51);
}

.jpg{
    text-align: center;
}
.e{
    color: rgb(6, 190, 151);
}
.li{
    display: inline-block;
    list-style-type: none;
    font-weight: bolder;
    color: rgb(80, 200, 255);
    background-color: rgb(220, 203, 255);
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border-color:  rgb(80, 200, 255);
    border-width: 2px;
    border-style: solid;
}
option{
    font-weight: 500;
}


.cp_ipselect {
	overflow: hidden;
    width: 100%;
    margin: 0px 0px 0px 270px;
    vertical-align: middle;
	text-align: bottom;
}
.cp_ipselect select {
    width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-color: rgb(220, 203, 255);
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl05 {
    width: 17%;
	position: relative;
	border-radius: 2px;
    border-radius: 50px;
	background: rgb(220, 203, 255);
}
.cp_ipselect.cp_sl05::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid  rgb(80, 200, 255);
	pointer-events: none;
}
.cp_ipselect.cp_sl05 select {
	padding: 2px 33px 3px 3px;
	color:  rgb(80, 200, 255);
}
