@charset "UTF-8";


.tab{
    margin: 0px 30px;
}
.p1{
    color: aquamarine;
    background-image: url("01.gif");
}
h2{
	margin: 70px 0 0 40px;
	color: rgb(16, 0, 122);
	text-align: center;
}

.name1{
	text-align: center;
	font-weight: 800;
    color: rgb(0, 58, 184);
}
.name2{
	text-align: center;
	font-weight: 800;
    color: rgb(68, 218, 255);
}
.name3{
	text-align: center;
	font-weight: 800;
    color: rgb(1, 255, 200);
}
.name0{
	text-align: center;
	font-weight: 800;
    color: rgb(112, 79, 51);
}
.jpg{
    text-align: center;
}

.li{
	margin: 20px 10px;
	text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    color: rgb(80, 200, 255);
    background-color: rgb(220, 203, 255);
    width: 320px;
    height: 50px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    border-color:  rgb(80, 200, 255);
    border-width: 2px;
	border-style: solid;
}
.li1{
	display: inline-block;
	margin: 20px 0 0 0;
	text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    color: rgb(80, 200, 255);
    background-color: rgb(220, 203, 255);
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
    border-color:  rgb(80, 200, 255);
    border-width: 2px;
	border-style: solid;
}
a{
	color: rgb(70, 202, 255);
	text-decoration: none;
	font-weight: 900;
}
li a:hover{
	color: rgb(168, 125, 255);
}
tr td a{
	position: relative;
	display: inline;
	transition: .3s;
}
tr td a::after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 4px;
	background-color:  rgb(168, 125, 255);
	transition: .3s;
	transform: translateX(-50%);
}
a:hover::after{
	width: 100%;
}
option{
    font-weight: 500;
}
#wrapper{
	width: 1400px;
	margin:0 10px;
	display: flex;
	flex-wrap: wrap;
}
.left-column{
	width: 25%;
	margin: 120px 0 0 0;
	background-color: rgb(203, 255, 242);
}
.right-column{
	width: 70%;
	
}



.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 10px auto;
	text-align: center;
}
select {
    width: 120%;
	padding-bottom: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-color: rgb(220, 203, 255);
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl05 {
	width: 85%;
	margin: 0 10px;
	position: relative;
	border-radius: 2px;
    border-radius: 50px;
	background: rgb(220, 203, 255);
}
.cp_ipselect.cp_sl05::before {
	position: absolute;
	top: 100em;
	bottom: 100em;
	width: 10;
	height: 0;
	padding: 0;
	content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 6px solid  rgb(80, 200, 255);
	pointer-events: none;
}
select {
	padding: 5px 3px 2px 3px;
	color:  rgb(80, 200, 255);
}
